* {
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.App .column {
  width: 30%;
}

.droppable-col {
  width: 100%;
  background-color: grey;
  padding: 10px 10px 0 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 10px;
  background-color: lightblue;
  color: black;
  border: 1px solid lightseagreen;
  padding: 5px;
  border-radius: 7px;
}

.item.dragging {
  background-color: lightcoral;
}

.table {
  padding: 10px;
  align-items: center;
  margin-top: 50px;
}

.button {
  padding: 5px 40px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}



